#right,img{
	float: right;
	display: inline;
}

img {
  border-radius: 30%;
}

*{
	background-color: #FFF8DE;
}

footer{
	padding-top: 14rem;
	color: #8CA9FF;
}

h1{
	margin: auto;
	width: 10%;
	border: 3px ;
	padding: 10px;
}