h1{
	display: inline;
}

#right,img{
	float: right;
}

img {
  border-radius: 30%;
}

*{
	background-color: #FFF8DE;
}

footer{
	padding-top: 14rem;
	color: #8CA9FF;
}

h1{
	border-bottom: 40rem;
	display: inline;
}